.App {
  text-align: center;
  padding-top: 2em;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 5em;
  height: 5em;
  background-color: transparent;
  background-image: url('./assets/load.svg');
  background-size: contain;
  animation: App-logo-spin infinite 2s linear;
}

.loadingWrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.error {
  width: 100%;
  padding: 1em;
  background: red;
  color: white;
}

.loadTrigger {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.loader {
  margin-bottom: 1em;
  border-right: 3px solid darkblue;
}

.content {
  width: 80%;
  display: flex;
}
